body
{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Container
{
	width: 1100px;
	margin: auto;
}

.Header
{
	width: 100%;
	height: 100px;
	margin: auto;
	border: 1px solid black;
	display: flex;
}

.Logo
{
	float: left;
	height: 100%;
}

.Foto
{
	margin-top: 10px;
	width: 125px;
	height: 75px;
}

.Zoek
{
	width: auto;
}

.ZoekBalk
{
	width: 400px;
	border-radius: 2px;
	font-size: 22px;
	margin-top: 1px;
	border: 1px solid gray;
}

.Button
{
	background-color: #199ed8;
	font-size: 22px;
	border: 0;
	border-radius: 2px;
}


.HeaderList
{
	margin: 0;
	padding: 0;
	height: 40px;
	margin-top: 20px;

	list-style-type: none;
}

.HeaderList li
{
	float: left;
	margin-right: 10px;
}

/*Start css footer*/

.Footer
{
	width: 100%;
	height: 125px;
	border-top: 1px solid black;
	margin: auto;
}

.Footer table
{
	width:  100%;
	table-layout: fixed ;
}

.Footer td
{
	vertical-align: middle;
	text-align: center; 
}

.Footer thead
{
	font-weight: bold;
}

.Footer ul
{
	height: 100px;
}

a.info
{
	color: #000;
	text-decoration: none;
	text-align: center;
	margin-left: 15px;
}

.Menu li
{
	position: absolute;
	margin-top: 40px;
}


.Content
{
}


.Welkom
{
	float: right;
	margin-right: 10px;
	margin-top: -5px;
}
.Loguit
{
	float: right;
	margin-right: -100px;
	margin-top: 15px;
}

/*==Dropdown==*/

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
	background: rgb(241, 241, 241);	
}
.third-level-menu > li:hover { background: #199ed8; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
	display: none;
}

.second-level-menu > li
{
    position: relative;
	height: 30px;
	background: rgb(241, 241, 241);	
}
.second-level-menu > li:hover { background: #199ed8; }

.top-level-menu
{
    list-style: none;
    padding: 0;
	margin: 0;
	margin-top: 20px;	
}

.top-level-menu:hover
{
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
	width: 150px;
}
.top-level-menu > li:hover { background: #199ed8; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
	line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }