.navbar
{
    background: #199ed8 !important;
}

.navbar a, .navbar i
{
    color: white !important;
}

.footer {
    background: #199ed8 !important;
    color: white !important;
    text-align: center;
    line-height: 30px;
}

.footer a {
    color: white !important;

}
.foot_text {
    width: 70%;
    line-height: 25px;

}