body
{
	margin: 0;
	padding: 0;
}

.Header
{
	width: 1100px;
	height: 100px;
	margin: auto;
	border: 1px solid black;
}

.Logo
{
	float: left;
}

.Foto
{
	margin-top: 10px;
	width: 125px;
	height: 75px;
}

.Zoek
{
	float: left;
}

.Form
{
	margin-top: 10px;
	margin-left: 20px;
}

.ZoekBalk
{
	width: 900px;
	border-radius: 4px;
	font-size: 22px;
	margin-top: 1px;
}

.Button
{
	margin-top: -5px;
	width: 15px;
	height: 30px;
}

li
{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	list-style: none;
	font-size: 20px;
}

/*Start css footer*/

.Footer
{
	width: 1100px;
	height: 125px;
	border: 1px solid black;
	margin: auto;
	background-color: #006aff;
}

.Tabel
{
	float: left;
	border-right: 1px solid black;
	margin-left: 5%;
}

th
{
	text-align: left;
}

table
{
	width: 200px;
}
