.navbar
{
    background: #199ed8 !important;
}

.navbar a, .navbar i
{
    color: white !important;
}


.footer
{
    background: #199ed8 !important;
    color: white !important;
    text-align: center;
    line-height: 30px;
}

.footer a
{
    color: white !important;

}
.foot_text
{
    width: 70%;
    line-height: 25px;

}

.fietsen {
    text-align: center
}

.catagorien {
    position: relative;
    text-align: center;
    width: 100%;
}
.textOnImage {
    color: #199ed8;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fietsImgHome {
    opacity: 0.8;
}

.row-line {
    opacity: 0.8;
    width: 100%;
    text-align: center;
}

.blue-line {
    background-color: #199ed8 !important;
    color: white;
}

.carousel-item{
padding-left: 20%
}

